<div class="center jumbotron">
  <h1><%= t "page.home.title" %></h1>
  <p><%= t "page.home.description" %></p>
  <%= link_to t("page.signup.title"), signup_path,
    class: "btn btn-lg btn-primary" %>
</div>
