<tr>
  <td><%= index %></td>
  <td><span class = "category"><%= word.category.name %></span></td>
  <td><span class = "content"><%= word.content %></span></td>
  <td>
    <span class = "content">
      <%= link_to t("page.word.detail"), word %>
    </span>
  </td>
</tr>
