@import "bootstrap-sprockets";
@import "bootstrap";

$gray-medium-light: #eaeaea;
$gray-medium-light: #272727;
$default-font-size: 14px;

body{
  padding-top: 60px;
  font-family: "Roboto", sans-serif;
  font-size: $default-font-size;
  line-height: 1.5;
}

#error_explanation {
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #ffe6e6;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

#list_user {
  border: 1px solid #e7e7e7;
  .title_table {
    background-color: #B8E6FF;
  }
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  font-size: 15px !important;
  a {
    float: right;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: black;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: green;
    }
  }
  strong {
    display: block;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#user_info {
  margin-top: 20px;
  padding-left: 80px;
  padding-bottom: 15px;
  width: auto;
  .image {
  }
  .information {
    padding-left: 10px;
    font-style: italic;
  }
}

.result2, .clear{
  float:left;
}

.result3{
  color:red;
}

.lessons_learned_list, .activities, h1.framgia{
  color: orange;
}

.th_word{
  text-align: center;
}

.result4{
  float:left;
  padding-left: 130px;
  padding-right: 20px;
}

section {
  overflow: auto;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
  ul {
    list-style: none;
  }
  table {
    align: center;
    tr {
      th, td {
        padding: 10px;
      }
    }
  }
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }

  @mixin box_sizing {
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
  }

  /* sidebar */

  aside {
    section.user_info {
      margin-top: 20px;
    }
    section {
      padding: 10px 0;
      margin-top: 20px;
      &:first-child {
        border: 0;
        padding-top: 0;
      }
      span {
        display: block;
        margin-bottom: 3px;
        line-height: 1;
      }
      h1 {
        font-size: 1.4em;
        text-align: left;
        letter-spacing: -1px;
        margin-bottom: 3px;
        margin-top: 0px;
      }
    }
  }

  .gravatar {
    float: left;
    margin-right: 10px;
  }

  .gravatar_edit {
    margin-top: 15px;
  }

  /* forms */

  input, select{
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    @include box_sizing;
  }

  input {
    height: auto !important;
  }

  .checkbox {
    margin-top: -10px;
    margin-bottom: 10px;
    span {
      margin-left: 20px;
      font-weight: normal;
    }
  }

  #session_remember_me {
    width: auto;
    margin-left: 0;
  }
}

.end_result {
  display: none;
}
.user_homepage {
  position: fixed;
  div {
    img {
      height: 50px;
      float:left;
    }
    h1 {
      text-align: left;
    }
    section {
      div {
        margin-top:-2px;
        strong {
          float: left;
          margin-left: 10px;
        }
      }
    }
  }
  section {
    margin-top: 30px;
  }
  .button {
    a:first-child{
      float:left;
    }
  }
}

.container {
  .categories {
    list-style: none;
    margin-top: 70px;
    li {
        height: 235px;
      h1 {
        padding-top: 10px;
        padding-bottom: 5px;
        font-size: 2em;
        color: white;
      }
    }
  }
}

.filter_padding{
  padding-top:30px;
}

.show_answer{
  h4, h2 .h_answer{
    margin-top: 10px;
    padding-left: 10px;
  }
}

.tbody_profile{
  margin-left: 30px;
  padding-right: 30px;
}

tbody_activities{
  margin-left: 20px;
}
#follow_form {
  input {
    width: 50%;
    margin-left: 25%;
    margin-top: 20px;
  }
}
.title_category_admin {
  font-size: 1.7em;
  color: white;
  padding: 4px;
}
